.secondary.menu {
  height: 60px; }
  .secondary.menu .right.menu {
    align-items: center; }
    .secondary.menu .right.menu img {
      width: 50px;
      height: 50px; }

.login-page > .grid {
  height: 100%; }

.login-page .column {
  max-width: 450px; }

.login-page .ui.message a:first-of-type {
  padding-right: 20px; }

.home-page a, .home-page a:hover {
  color: #00b5ad; }

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  margin-bottom: 0; }

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  cursor: pointer; }

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px; }

.tab-content {
  display: flex;
  flex-grow: 1;
  background-color: white;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc; }

.tabs {
  display: flex;
  flex-direction: column; }

.dashboard-page {
  height: calc(100% - 60px); }
  .dashboard-page a, .dashboard-page a:hover {
    color: #00b5ad; }
  .dashboard-page .ten .ui.segment {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border: none; }
  .dashboard-page .chat-list {
    flex-grow: 1;
    padding: 10px; }
  .dashboard-page .users-list {
    width: 200px;
    border-left: 1px solid #ccc; }
    .dashboard-page .users-list .users-list-menu {
      display: flex;
      line-height: 50px;
      height: 50px;
      padding: 0 10px; }
      .dashboard-page .users-list .users-list-menu .users-list-top {
        flex-grow: 1; }
      .dashboard-page .users-list .users-list-menu i.icon:before {
        cursor: pointer; }

html,
body {
  height: 100%; }

.maincontainer {
  height: 100%; }

.wrapper {
  height: 100%; }

.ui.grid {
  min-height: 100%; }

#root, .ui.container, .loadedContent {
  height: 100%; }

h1 {
  margin-top: 20px !important;
  text-align: center;
  color: #00b5ad; }

html, #root {
  background-color: #f7f7f7; }

/**
 * Add Media Queries to phone screen sizes as needed
 */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .right.menu img, .right.menu span {
    display: none !important; } }
